<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="msapplication-tap-highlight" content="no" /> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Resource sharing</title>
  <link rel="stylesheet" th:href="@{/css/lib/material.min.css}">
  <link rel="stylesheet" th:href="@{/css/lib/material-icons.css}">
  <link rel="stylesheet" th:href="@{/css/lib/mdl-selectfield.min.css}">
  <link rel="stylesheet" th:href="@{/css/lib/style.css}">
</head>
<body>
<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header po-re"> <!--mdl-layout__header--waterfall-->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title mdl-layout--large-screen-only">资源分享平台</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
      <button id="header-operate" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="header-operate">
        <li class="mdl-menu__item"><a href="javascript:void(0);">操作1</a></li>
        <li class="mdl-menu__item">其他操作</li>
      </ul>
    </div>
    <div class="mdl-header-bar">
      <h2 class="title">我们为需要帮助的人整理归纳信息</h2>
      <p class="sm-title">Created with by the fine folks at BEM</p>
    </div>
    <!-- Tabs -->
    <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="/" class="mdl-layout__tab is-active">全部</a>
      <a href="#scroll-tab-2" th:each="classify : ${clist}" class="mdl-layout__tab" th:href="@{'/classify/' + ${classify.id} }" th:text="${classify.name}">分类 1</a>
    </div>
    <div class="entrance">
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp home-button" href="/release">
        <i class="material-icons">add</i>
      </a>
    </div>
    <div class="mdl-layout__header-bg" style="background: url(../static/images/icon-seamless.png)"></div>
    <div class="mdl-js-button mdl-js-ripple-effect mdl-layout__drawer-button menu-button">
      <i class="material-icons">menu</i>
    </div> -->
  </header>
  <div class="mdl-layout__drawer">    <!--Left slip-->
    <div class="userCenter">
      <div class="info">
        <div class="userImg"><a href="#"><img src="../static/images/user.jpg" alt=""></a></div>
        <p class="userName">ZHAO-Shaofeng</p>
        <p class="userEmail">bem.zhao@gmail.com</p>
        <button id="userOperate" class="mdl-button mdl-js-button mdl-button--icon userOperate">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect userOperate-ul" for="userOperate">
          <li class="mdl-menu__item">退出登录</li>
          <li class="mdl-menu__item">操作2</li>
        </ul>
      </div>
      <img src="../static/images/material/banner17.png" alt="" class="user_bg_img">
    </div>
    <div class="nav_drawer">
      <nav class="mdl-navigation">
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link active" th:href="@{/}"><i class="material-icons">home</i>首页</a>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/myrelease}"><i class="material-icons">shopping_cart</i>我的发布</a>
        <!-- <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/user}"><i class="material-icons">forum</i>消息</a> -->
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/mycollect}"><i class="material-icons">star</i>我的收藏</a>
        <div class="mdl-navigation__link-line"></div>
        <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" th:href="@{/user}"><i class="material-icons">person</i>个人中心</a>
        <!-- <a class="mdl-js-button mdl-js-ripple-effect mdl-navigation__link" href=""><i class="material-icons">settings</i>设置</a> -->
      </nav>
    </div>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class='tab-left'>
            <img th:each="item:${task.list_img}" th:src="@{'/images/user/'+${item}}" alt="">

        </div>
        <div class='tab-right'>

            <div class='top'>
              <p class='m-title' th:text="${task.title}">我的世界书籍</p>
              <p class='content' th:text="${task.content}">我的世界书籍我的世界书籍我的世界书籍我的世界书籍我的世界书籍</p>
              <p class='stit'><span class='tit'>价&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格</span><span>520</span><span>元</span></p>
              <p class='stit'><span class='tit'>地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址</span><span th:text="${task.address}">12312311</span></p>
              <p class='stit'><span class='tit'>企&nbsp&nbsp鹅&nbsp号</span><span th:text="${task.qq}">12312311</span></p>
              <!-- <p class='stit'><span class='tit'>联系电话</span><span th:text="${task.phone}">12312311</span></p> -->
              <p class='stit'><span class='tit'>发布时间</span><span th:text="${task.release_time}">12312311</span></p>
              <p class='btit'><span class="btn">收藏</span><span class="btn">举报</span></p>
            </div>
            <!-- <div class='down'></div> -->
        </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content"><!-- Your scroll-tab-2 goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content"><!-- Your scroll-tab-3 goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content"><!-- Your scroll-tab-4 goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-5">
      <div class="page-content"><!-- Your scroll-tab-5 goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-6">
      <div class="page-content"><!-- Your scroll-tab-6 goes here --></div>
    </section>
    <footer id="footer">
        Copyright &copy; 2017 breadem.com
        
        <ul class="f-menu">
            <li><a href="#">发送反馈</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </footer>
  </main>
</div>


<script th:src="@{/js/lib/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/lib/material.min.js}"></script>
<script th:src="@{/js/lib/mdl-selectfield.min.js}"></script>
<script th:src="@{/js/lib/main.js}"></script>
</body>
</html>